body{
    background-color: #6c5f6c;
    color: #222525;
    font-family: 'Open Sans', sans-serif;
}
main{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 1em;
    border-radius: 5px 5px 0 0;
    min-height: 400px;
}
header{
    background-color: #fff;
    text-align: center;
    margin: 43px auto 0 auto;
    width: 80%;
    border-radius: 0 0 5px 5px;
}
footer{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 1em;
    border-radius: 0 0 5px 5px;
}
footer hr{
    border: none;
    border-top: 3px double #6c5f6c;
}
nav{
    background-color: #bed8be;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: 5px solid #394040;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 3em;
    overflow: hidden;
}
nav li{
    display: inline;
    padding: 5px;
    border-radius: 5px;
}
nav li a{
    padding: 5px;
    text-decoration: none;
    margin: 15px;
    color: #394040;
}
nav li a:hover{
    color: #798686;
}
